body {
  background-image: url("https://jooinn.com/images/abstract-background-1.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  font-family: sans-serif;
}
main {
  max-width: 700px;
  background-color: black;
  background-color: rgba(0, 0, 0, .7);
  margin: 0 auto;
  padding: 1em 2em;
  border-radius: 2em;
  color: white;
}
p {
  font-size: 1em;
  line-height: 1.2;
}
blockquote {
  font-family: serif;
  font-size: 1.4em;
  font-style: italic;
}
.special {
  background-color: white;
  color: #4f4f4f;
  padding: 0 2em 2em;
}
.special h2 {
  background-color: #dd5c11;
  color: white;
  padding: .5em 1em;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
  display: inline-block;
  position: relative;
  left: -2em;
  box-shadow: -5px 5px 3px 0 rgba(0, 0, 0, .2);
}
.special h3 {
  color: #815AA6;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.special p {
  font-family: serif;
  font-size: 1.2em;
  line-height: 1.4;
}
header {
  border-bottom: dotted 1px white;
  border-bottom: dotted 1px rgba(255, 255, 255, .4);
  margin-bottom: 1em;
  padding-bottom: 1em;
  color: #b687e5;
}
header h1 {
  text-transform: uppercase;
  margin-bottom: 0;
}
header blockquote {
  margin-top: 0;
}
footer {
  border-top: dotted 1px white;
  border-top: dotted 1px rgba(255, 255, 255, .4);
  margin-top: 1em;
  padding-top: 1em;
}
footer p {
  /* don't do this unless you have no other choice */
  font-size: 1.5em !important;
}
